body {
  background-color: #333;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.rc-slider-handle {
  width: 18px !important;
  height: 18px !important;

  margin-left: -9px !important;
    margin-top: -7px !important;
}
.rc-slider {
  height: 20px !important;
  padding: 9px 0 !important;
}
